.client__subtitle {
    width: 540px;
    margin: 0;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.05em;
    opacity: 0.6;
}
@media screen and (max-width: 1023px) {
    .client__subtitle {
        width: 100%; 
        text-align: center;
    }
}