.card__link {
    margin-top: 32px;
    font-size: 14px;
    line-height: 214%;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}
@media screen and (max-width: 767px) {
    .card__link {
        font-size: 28px;
    }
}