.client__grid-item {
    background-color: #5A98D0;
    font-size: 20px;
    line-height: 230%;
    letter-spacing: 0.02em;
    color: #F2F2F2;
    padding-top: 40px;
    text-align: center;
    cursor: pointer;
}
.client__grid-item:hover {
    background-color: #4c7ba5;
}