.card__img-three {
    width: 156px;
    height: 131px;
    margin: 0 0 0 52px;
}
@media screen and (max-width: 1023px) {
    .card__img-three {
        display: block;
        margin: 0 auto;
    }
}