.client__title {
    width: 233px;
    margin: 0;
    font-size: 36px;
    line-height: 128%;
    letter-spacing: 0.05em;
}
@media screen and (max-width: 1023px) {
    .client__title {
        width: 100%; 
        text-align: center;
    }
}